name: Upload Release to PyPI

on:
  workflow_dispatch: # Manually triggered
  push:
    tags:
      - v* # Automatically triggered on tags that match the pattern

permissions:
  contents: write # Required to create releases

jobs:
  pypi-publish:
    name: Publish to PyPI
    runs-on: ubuntu-latest
    permissions:
      contents: write # This permission is needed for creating releases and private repositories.
      id-token: write # IMPORTANT: this permission is mandatory for trusted publishing
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.13"

      - name: Install uv
        uses: astral-sh/setup-uv@v5

      - name: Build package
        run: uv build

      - name: Publish package distributions to PyPI
        run: uv publish

      - name: Create GitHub Release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          gh release create ${{ github.ref }} --title "Release ${{ github.ref_name }}" --notes "Automated release created by GitHub Actions"
